---
- name: Provisioning storage for Powermax Will create a masking view {{ mv_name }} on array {{ serial_no }} please log into unisphere host name {{ unispherehost }} to verify results.
  hosts: localhost
  connection: local
  gather_facts: no
  vars_files:
      - vars/connection.yml
      - vars/credentials.yml
      - vars/host_storage_details.yml

  vars:
    input: &uni_connection_vars
      serial_no: "{{ serial_no }}"
      password: "{{ password }}"
      unispherehost: "{{ unispherehost }}"
      universion: "{{ universion }}"
      user: "{{  user  }}"
      verifycert: "{{ verifycert }}"

  collections:
    - dellemc.powermax

  tasks:
    - debug:
        msg: "Starting provisioning tasks, run this playbook multiple times and review play recap to verify idempotency.  Why not add -vvv to ansible-playbook command to examine the returns"

    - name: Create Storage group
      dellemc.powermax.dellemc_powermax_storagegroup:
        <<: *uni_connection_vars
        sg_name: "{{ sg_name }}"
        service_level: "Bronze"
        state: 'present'

    - name: Create new volumes for existing SG
      dellemc.powermax.dellemc_powermax_storagegroup:
        <<: *uni_connection_vars
        sg_name: "{{ sg_name }}"
        state: "present"
        volumes: "{{ volume_list }}"
        vol_state: "present-in-group"

    - name: Create host "{{ host_name }}"
      dellemc.powermax.dellemc_powermax_host:
        <<: *uni_connection_vars
        host_name: "{{ host_name }}"
        initiators: "{{ host_initiators }}"
        state: 'present'
        initiator_state: 'present-in-host'

    - name: Create port group "{{ portgroup_name }}"
      dellemc.powermax.dellemc_powermax_portgroup:
        <<: *uni_connection_vars
        portgroup_name: "{{ portgroup_name }}"
        state: "present"
        ports:  "{{ port_list }}"
        port_state: 'present-in-group'

    - name: Create MV "{{ mv_name }}" with existing elements
      dellemc.powermax.dellemc_powermax_maskingview:
        <<: *uni_connection_vars
        mv_name: "{{ mv_name }}"
        portgroup_name: "{{ portgroup_name }}"
        host_name: "{{ host_name }}"
        sg_name: "{{ sg_name }}"
        state: 'present'

